.Skills {
    text-align: center;
    width: 85%;
    margin: auto;
    margin-bottom: 100px;
}

.skillsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, max-content));
    gap: 20px;
    padding: 30px;
    margin-top: 20px;
    border-radius: 10px;
}