.About {
    margin-bottom: 100px;
}

.About>h1 {
    text-align: center;
}

.PersonalDetails {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0 0 10px teal;
    border-radius: 10px;
}

.PersonalDetails>div:first-child {
    padding: 10px 20px;
    width: 35%;
}

.PersonalDetails>div:last-child {
    margin-left: 20px;
    padding: 20px;
    width: 65%;
}

h3 {
    margin: 10px 0px;
}

p {
    margin: 10px 0px;
}